body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "flood-std";
    src: url("../fonts/FloodStd.otf");
    src: url("../fonts/FloodStd.otf") format("opentype");
    
}
.container_out{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    padding-top: 10px;
    /* min-height: 70px; */
}
header .container_out{
    display: flex;
    justify-content: space-between;
}
header .container_in{
    display: flex;
    justify-content: space-between;
    color: #354463;
    width: 80%;
}

header .pages{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 40px;
    font-size: 0.9em;
    font-weight: 300;
}
button{
    margin-top: 30px;
    border-radius: 100px;
    background-color: #C1F7D5;
    border: none;
    padding: 12px;
    font-weight: bold;
    display: ruby;
}
header #branding{
    flex-grow: 1;
}
section .container_section{
    min-height: 600px;
    background: url('../images/annie-spratt-135307-unsplash@2x.png') no-repeat transparent;
    background-size: cover;
    background-size: 100% 100%;
}
section .container_out{
    display: flex;
    
}
section .container_section .left_box{
    background-color: white;
    height: 300px;
    /* align-items: flex-start; */
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 45%;
    margin-right: 10%;
    padding-right: 4%;
    padding-left: 4%;
    position: relative;
    box-sizing: border-box;
    
}
section .container_section .left_box h1{
    text-align: left;
    font: Bold 3vw arial;
    letter-spacing: 0;
    color: #354463;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 0px;
}
section .container_section .left_box .issue #issue{
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 0.9em;
}

section .container_section .left_box .issue{
    background: #354463 0% 0% no-repeat padding-box;
    height: 30px;
    width: 100px;
    color: white;
    text-align: center;
    position: absolute;
    top: -15px;
    /* left: 10%; */
}
section .container_section .left_box #read_more{
    text-align: left;
    text-decoration: underline;
    font: Light 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    font-weight: 100;
}
section .container_section .right_box{
    font-family: flood-std;
    font-size: 4em;
    line-height: 1.2;
    color: white;
    padding-top: 80px;
}

@media only screen and (max-width:768px) and (min-width: 390px){
    header .container_in{
        flex-direction: column;

    }
    #brand{
        margin-bottom: 14px;
    }
    header .pages{
        margin-top: 0px;
        margin-bottom: 20px;
        justify-content: space-between;
        width: 70%;
    }
    button{
        margin-top: 40px;
    }
    header{
        height: 120px;
        padding-top: 0px;
    }
    section .container_out{
        flex-direction: column-reverse;
        
    }
    section .container_section .right_box{
        font-size: 3em;
        line-height: 1.1;
        padding-top: 60px;
    }  
    section .container_section .left_box{
        margin-top: 80px;
        width: 100%;
        padding: 0 10%;
        height: 280px;  
    }
    section .container_section{
        
        background: url('../images/annie-spratt-135307-unsplash@tablet.png') no-repeat transparent;
        background-size: cover;
        background-size: 100% 100%;
    }
    section .container_section .left_box h1{
        font-size: 5vw;
    }
    section .container_section .left_box .issue{
        width: 150px;
    }
    section .container_section .left_box #read_more{
        margin-top: 30px;
    }
    
}
@media only screen and (max-width:390px){
    header .container_out{
        flex-direction: column;
    }
    header .container_in{
        width: 100%;
        
    }
    button{
        margin-top: 15px;
        margin-bottom: 30px;
        width: 100%;
    }
    header .pages{
        flex-direction: column;
        margin: 10px 0;
    }
    header #branding{
        width: 90%;
    }
    section .container_section{
        
        background: url('../images/annie-spratt-135307-unsplash@mobile.png') no-repeat transparent;
        background-size: cover;
        background-size: 100% 100%;
    }
    section .container_out{
        flex-direction: column-reverse;
        
    }
    section .container_section .right_box{
        font-size: 2.8em;
        line-height: 1.1;
        padding-top: 30px;
    }
    section .container_section .left_box{
        margin-top: 80px;
        width: 100%;
        padding: 0 10%; 
        align-items: center; 
        height: 200px;
    }
    section .container_section .left_box .issue{
        width: 160px;
    }
    section .container_section .left_box h1{
        font-size: 5vw;
        text-align: center;
    }
    section .container_section .left_box #read_more{
        padding: 0;
        text-align: center;
    }
}
